---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$danger-color: #B10202;
$link-color: #B10202;
$primary-color: #666666;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
